h1,
h2,
h3,
h4,
h5,
h6,
ol {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    line-height: 1.6;
    font-weight: bold;
}

p,
a {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

